################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/desafio-dev/FileContentIndex
/.vs/desafio-dev/v17
/src/DesafioDev.Core/obj
/src/DesafioDev.Operacoes.Applications/obj
/src/DesafioDev.Operacoes.Domain/obj
/src/DesafioDev.Operacoes.Infra/obj
/src/DesafioDev.WebApi/obj
/src/DesafioDev.Core/bin/Debug/net7.0
/src/DesafioDev.Operacoes.Applications/bin/Debug/net7.0
/src/DesafioDev.Operacoes.Domain/bin/Debug/net7.0
/src/DesafioDev.Operacoes.Infra/bin/Debug/net7.0
/src/DesafioDev.WebApi/bin/Debug/net7.0
/.vs/desafio-dev/DesignTimeBuild
/bin/Debug
/obj
